<div class="circular-menu-container">
  <div class="circle-continer">
    <div
      class="ciruclar-menu-circle"
      (mousemove)="updateCoordinates($event)"
      [style.--x]="x"
      [style.--y]="y"
    >
      <div class="circle"></div>
    </div>
  </div>
  <div class="circular-menu-options">
    <div class="menu-option circular-menu-about-me">About me</div>
    <div class="menu-option circular-menu-contanct">Contact</div>
    <div class="menu-option circular-menu-projects">Projects</div>
    <div class="menu-option circular-menu-stacks">stacks</div>
  </div>
</div>
